<h1>IBM Data Science Capstone - Wk2</h1>
<h3>Toronto neighbourhood clustering</h3>

<img src="https://www.ps4wallpapers.com/wp-content/uploads/2019/06/2019-06-12_5d0122166901f_011.jpg" alt="logo" width="500"/>

In [ ]:
!conda update -n base -c defaults conda --yes

In [2]:
import numpy as np
import pandas as pd
import json

The data from Wikipedia has been copied / pasted to excel and converted in .csv file.  
    We will get the date from it with **wget**

In [3]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_0 = pd.read_excel(body)
df_data_0.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
df_data_0.rename(columns={"Postcode": "PostalCode"}, inplace=True)

In [5]:
df_data_0.shape

(287, 3)

In [6]:
# Get the of indexes for which Borough is not assigned
dropped_index = df_data_0[ df_data_0['Borough'] == 'Not assigned' ].index
dropped_index

Int64Index([  0,   1,   8,  12,  19,  20,  29,  35,  36,  44,  45,  49,  50,
             51,  53,  54,  58,  59,  60,  72,  73,  74,  87,  88,  89, 103,
            104, 105, 119, 120, 135, 136, 147, 148, 154, 160, 161, 166, 174,
            180, 181, 187, 188, 189, 193, 194, 200, 201, 202, 203, 208, 209,
            222, 223, 236, 237, 240, 241, 246, 247, 252, 253, 257, 258, 259,
            260, 262, 263, 273, 274, 275, 276, 277, 278, 279, 280, 286],
           dtype='int64')

In [7]:
# Delete these row indexes from dataFrame
df_data_0.drop(dropped_index , inplace=True)

In [8]:
df_data_0.reset_index(drop=True, inplace=True)
df_data_0.head()

  PostalCode           Borough     Neighbourhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M6A        North York  Lawrence Heights
4        M6A        North York    Lawrence Manor

In [9]:
#Now we want to have a list of each and unique PostalCode
PC = df_data_0['PostalCode'].unique()
PC

array(['M3A', 'M4A', 'M5A', 'M6A', 'M7A', 'M9A', 'M1B', 'M3B', 'M4B',
       'M5B', 'M6B', 'M9B', 'M1C', 'M3C', 'M4C', 'M5C', 'M6C', 'M9C',
       'M1E', 'M4E', 'M5E', 'M6E', 'M1G', 'M4G', 'M5G', 'M6G', 'M1H',
       'M2H', 'M3H', 'M4H', 'M5H', 'M6H', 'M1J', 'M2J', 'M3J', 'M4J',
       'M5J', 'M6J', 'M1K', 'M2K', 'M3K', 'M4K', 'M5K', 'M6K', 'M1L',
       'M2L', 'M3L', 'M4L', 'M5L', 'M6L', 'M9L', 'M1M', 'M2M', 'M3M',
       'M4M', 'M5M', 'M6M', 'M9M', 'M1N', 'M2N', 'M3N', 'M4N', 'M5N',
       'M6N', 'M9N', 'M1P', 'M2P', 'M4P', 'M5P', 'M6P', 'M9P', 'M1R',
       'M2R', 'M4R', 'M5R', 'M6R', 'M7R', 'M9R', 'M1S', 'M4S', 'M5S',
       'M6S', 'M1T', 'M4T', 'M5T', 'M1V', 'M4V', 'M5V', 'M8V', 'M9V',
       'M1W', 'M4W', 'M5W', 'M8W', 'M9W', 'M1X', 'M4X', 'M5X', 'M8X',
       'M4Y', 'M7Y', 'M8Y', 'M8Z'], dtype=object)

In [18]:
#To start we will merge all the Neighbourhood with the same Postal Code
#We split this column into a new dataframe df2
df2 = pd.DataFrame(columns=["Neighbourhood"])

In [19]:
#We have 104 unique Postal Codes
#iterations = the number of neighbourhood with the same postal code
for i in range (0,103):
    n  = df_data_0.loc[df_data_0['PostalCode'] == PC[i],['Neighbourhood']]
    iterations = df_data_0.loc[df_data_0['PostalCode'] == PC[i],['Neighbourhood']].get("Neighbourhood").count()
    j = 0
    concat =""
    if iterations == 1:
        concat = n.iloc[0,0]
    else:
        concat = n.iloc[0,0]
        while j < iterations-1:
            concat = concat + ", " + n.iloc[j+1,0]
            j = j + 1
    df2 = df2.append({'Neighbourhood': concat}, ignore_index=True)

In [32]:
df2.head()

                      Neighbourhood
0                         Parkwoods
1                  Victoria Village
2                      Harbourfront
3  Lawrence Heights, Lawrence Manor
4                      Queen's Park

In [ ]:
#Then we drop the rows with duplicates Borough
df = df_data_0[['PostalCode','Borough']]
df.drop_duplicates(inplace = True)
df

In [16]:
df.reset_index(drop=True, inplace=True)
df.tail(10)

    PostalCode           Borough
93         M8W         Etobicoke
94         M9W         Etobicoke
95         M1X       Scarborough
96         M4X  Downtown Toronto
97         M5X  Downtown Toronto
98         M8X         Etobicoke
99         M4Y  Downtown Toronto
100        M7Y      East Toronto
101        M8Y         Etobicoke
102        M8Z         Etobicoke

In [21]:
#We now concatenate df(PostalCode + Borough) and df2(Neighbourhood)
df3 = pd.concat([df, df2], axis=1)
df3.head()

  PostalCode           Borough                     Neighbourhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto                      Harbourfront
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A  Downtown Toronto                      Queen's Park

In [23]:
df3.loc[df3['Neighbourhood'] == 'Not assigned']

  PostalCode       Borough Neighbourhood
5        M9A  Queen's Park  Not assigned

In [29]:
#Only row 5 has a Neighbourhood not assigned, we will replace it manually by its Borough name : Queen's Park
df3.iloc[5,2] = "Queen's Park"

In [30]:
df3.head(10)

  PostalCode           Borough                     Neighbourhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto                      Harbourfront
3        M6A        North York  Lawrence Heights, Lawrence Manor
4        M7A  Downtown Toronto                      Queen's Park
5        M9A      Queen's Park                      Queen's Park
6        M1B       Scarborough                    Rouge, Malvern
7        M3B        North York                   Don Mills North
8        M4B         East York   Woodbine Gardens, Parkview Hill
9        M5B  Downtown Toronto          Ryerson, Garden District

In [31]:
#Here is the final shape of our Toronto dataset
df3.shape

(103, 3)